@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Poppins:wght@300&display=swap');
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/** Ionic CSS Variables **/
@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Poppins:wght@300;500&display=swap');
//this fixes shadow for ionn-header
.header-md::after, .footer-md::before{
  background: none;
}
.half-slide{
  color:white;
}
.font-big{
  font-size: 60px;
}
.font-mid{
  font-size: 35px;
}
.font-low{
  font-size: 13px;
}
.font-cap{
  text-transform: uppercase;
}
.font-small{
  font-size: 10px;
}
.font-tinos{
  font-family: 'Tinos', serif;
}
.font-pop{
font-family: 'Poppins', sans-serif;
}
.font-nic{
  font-family: 'Niconne', cursive;
}
.font-serif{
    font-family:'DM Serif Text',serif;
}
.letter-spaced{
    letter-spacing: 2px;
}
.align-center{
  text-align: center;
}
.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.w-100{
  width: 100%;
}
.center-flex-wr{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin-top: 20px;
}
.flex-full{
  display: flex;
  justify-content: space-between;
}
.flex{
  width: 250px;
  display: flex;
flex-flow: row-reverse wrap;
}
.flex-n{
  display:flex;
}
.flex-n-wr{
  display: flex;
  flex-wrap: wrap;
}
.center-grid{
  display: grid;
  justify-content: center;
  align-items:center;
}
.grid-n{
  display: grid;
}
.small_line{
  width: 50%;
  height:1px;
  padding:1px;
  background:coral;
}
.font-native{
  color:coral;
}
.font-fade{
  opacity: 0.3;
}
.font-white{
    color: white;
}
.padding-lr-sm{
padding-left:30px;
padding-right: 30px;
}
.mg-lr{
  margin:30px;
}
.bg-white{
  background: white;
}
.bg-native{
  background: floralwhite;
}
body{
  background:#FAF8F6;
}
.margin-y-rm{
  margin-bottom:-30px;
}
.margin-y-sm{
    margin-bottom:-10px;
}
.mg-up{
  margin-top: 150px;
}
//alert modal
.big-alert .alert-wrapper{
background:floralwhite;
font-family: 'Montserrat', sans-serif;
font-size:18px;
}
.button-lg{
  padding: 10px;
  font-size:13px;
  width:100%;
  border-radius: 15px;
  text-decoration:none;
  color:white;
  background: coral;
  font-family: 'Poppins', sans-serif;
   text-transform: uppercase;
}

.button-sm{
  text-align: center;
  padding: 10px;
  font-size:13px;
  width:8%;
  border-radius: 25px;
  text-decoration:none;
  color:white;
  background: coral;
  font-family: 'Poppins', sans-serif;
   //text-transform: uppercase;
   cursor: pointer;
}
.c-butt{
    padding: 10px;
    font-size:13px;
    border:0px;
    border-radius: 25px;
    text-decoration:none;
    color:white;
    background: coral;
    font-family: 'Poppins', sans-serif;
}
.button-light{
    padding: 10px;
    font-size:13px;
    border:1px solid coral;
    border-radius: 25px;
    text-decoration:none;
    color:coral;
    background: white;
    font-family: 'Poppins', sans-serif;
}
.hide{
  display: none;
}

.button-lg:hover, .button-sm:hover{
  box-shadow: 0px;
}

//animations
.animate__animated{
  position: relative;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

@keyframes fadein {
    0%{ top:100%; }

    100%{top: 0%; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0%{ top:100%; }

  100%{top: 0%; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0%{ top:100%; }

  100%{top: 0%; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0%{ top:100%; }

  100%{top: 0%; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  0%{ top:100%; }

  100%{top: 0%; }
}

.box{
  padding: 5px;
  width:200px;
  height:auto;
  border:0.5px solid grey;
  border-radius: 10px;
  margin:3px;
}

//use this as alternative fir the ion-slider
.scroll-x {
  overflow-x: scroll;
  .scroll_container {
      width: 100%;
      .list_inner {
          display: inline-block;
          margin: 0 12px;
          min-width: 250px;
          &:first-child {
              margin-left: 15px;
          }
          &:last-child {
              margin-right: 15px;
          }
      }
  }
}

.button{
  background: 'coral'
}
//loader here
.loading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid black; /* B */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
// media query here
@media (min-width: 700px) {
  .mobile {
  display: none;
    }
}
@media (max-width: 800px) {
  .desktop {
  display: none;
    }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.body-mg{
    margin: 50px;
}
html, body { height: 100%; }
body { margin: 0px; }
