<div>
    <!-- navbar here -->
    <div class="flex-full body-mg">
        <div>
        <!-- logo here -->
        <div class="font-pop font-mid">Glow <span class="font-native">.</span></div>
        </div>
        <div class="flex-n font-pop font-low">
            <a class="mg-r">Product</a>
            <a class="mg-r">About</a>
            <a class="mg-r">Blog</a>
            <a class="mg-r">Reviews</a>
            <a class="">icon</a>
        </div>
    </div>

    <!-- main body -->
    <div class="flex-around fade-in">
        <div class="mg-lg body-mg">
            <h1 class="font-big font-serif letter-spaced">Let your skin <br> Going out</h1>
            <p class="font-pop font-low">
                We want to bring to the world through our product<br>
                products that very special feeling joy, healthy and <br>
                positive energy
            </p>
            <div class="flex-n-wr">
            <div class="c-butt mg-r flex-n"><div>Shop Now</div><div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg></div></div>
            <p class="font-pop font-low">How to use</p>
        </div>
        </div>
        <div>
            <div class="bg-img">
            </div>
            <div class="big-wrapper center-flex">
                <div class="">
                    <h2 class="font-mid font-serif">The self care product that's<br>
                        setting a new <span class="font-native">standard</span><br>
                    <span class="font-native">Clean</span> products</h2>
                    <div class="flex-around">
                        <div class="mg-r">
                            <h2 class="font-pop font-low">Where are products<br> made?</h2>
                            <p class="font-pop font-low">Many brands especially in period<br> care, carry products that take<br>centuries </p>
                        </div>
                        <div>
                            <h2 class="font-pop font-low">Where are products<br> made?</h2>
                            <p class="font-pop font-low">Many brands especially in period<br> care, carry products that take<br>centuries </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="img2 abs"></div>
        </div>
    </div>
    <div class="body-mg flex-around">
        <div class="mg-r reveal fade-bottom" >
            <h1 class="font-serif font-mid">Trending on<br> Essentials</h1>
            <p class="font-pop font-low">Made with nature's best ingridienta - our<br>products's transparent ingridient. Fear of<br> God essentials</p>
            <button class="button-light">Browse All Products -></button>
        </div>
        <div class="reveal fade-right">
        <div class="white-bg mg-r"><img src="../../assets/images/img4.png" alt="" class="imgs"></div>
        <p class="align-center font-serif font-low">Shower Butter</p>
        <p class="font-pop font-low align-center">$190.00</p>
        </div>
        <div class="reveal fade-right">
        <div class="white-bg"><img src="../../assets/images/img5.png" alt="" class="imgs"></div>
        <p class="align-center font-serif font-low">Shower Butter</p>
        <p class="font-pop font-low align-center">$190.00</p>
    </div>
    <div class="reveal fade-right">
        <div class="white-bg mg-r"><img src="../../assets/images/img6.png" alt="" class="imgs"></div>
        <p class="align-center font-serif font-low">Shower Butter</p>
        <p class="font-pop font-low align-center">$190.00</p>
        </div>
    </div>

    <div class="body-mg flex-around reveal fade-right">
        <div>
            <div class="white-bg mg-r"><img src="../../assets/images/img4.png" alt="" class="imgs"></div>
            <p class="align-center font-serif font-low">Shower Butter</p>
            <p class="font-pop font-low align-center">$190.00</p>
            </div>
        <div>
        <div class="white-bg mg-r"><img src="../../assets/images/img4.png" alt="" class="imgs"></div>
        <p class="align-center font-serif font-low">Shower Butter</p>
        <p class="font-pop font-low align-center">$190.00</p>
        </div>
        <div>
        <div class="white-bg"><img src="../../assets/images/img5.png" alt="" class="imgs"></div>
        <p class="align-center font-serif font-low">Shower Butter</p>
        <p class="font-pop font-low align-center">$190.00</p>
    </div>
    <div>
        <div class="white-bg mg-r"><img src="../../assets/images/img6.png" alt="" class="imgs"></div>
        <p class="align-center font-serif font-low">Shower Butter</p>
        <p class="font-pop font-low align-center">$190.00</p>
        </div>
    </div>
    <div class="body-mg flex-n-wr">
        <div class="body-shade">
            <h1 class="font-serif font-big reveal fade-bottom">We make going all<br>natural <span class="font-native"> Beauty.</span></h1>
            <p class="font-pop font-low font-fade">Made with nature's best ingridients - our product's transparent <br> ingridient lists allow you to know </p>
            <div class="flex-n-wr reveal fade-bottom">
                <div class="body-fade mg-r-s">
                    <div class="font-pop font-low upright">Product<br>Users</div>
                    <div class="font-serif font-mid upright">7M+</div>
                </div>
                <div class="body-fade-rv mg-r-s">
                    <div class="font-pop font-low upright">Product<br>Users</div>
                    <div class="font-serif font-mid upright">7M+</div>
                </div>
                <div class="body-fade">
                    <div class="font-pop font-low upright">Product<br>Users</div>
                    <div class="font-serif font-mid upright">7M+</div>
                </div>
            </div>
        </div>
        <div class="body-round reveal small-big">
            <img src="../../assets/images/img7.png" class="imgs2 reveal fade-bottom" alt="">
        </div>
    </div>
    <div class="body-mg center-flex">
        <div class="img3 mg-r reveal animate-img"></div>
        <div class="reveal fade-bottom">
            <h1 class="font-serif font-big">You have <span class="font-native">questions,</span><br>we have answers.</h1>
            <div class="line"></div>
            <div class="flex-full font-pop font-low">
                <h1>Where are products made?</h1>
                <h1>-</h1>
            </div>
            <p class="font-pop font-fade font-low">Many brands, especially in period care, carry products that<br>take centuries to biodegrade with pronounce</p>
            <div class="line"></div>
            <div class="flex-full font-pop font-low">
                <h1>How to purchase our products?</h1>
                <h1>+</h1>
            </div>
            <div class="line"></div>
            <div class="flex-full font-pop font-low">
                <h1>How to purcase our products?</h1>
                <h1>+</h1>
            </div>
        </div>
    </div>
    <div>
        <div class="center-flex">
            <div class="flex-full">
                <div class="white-bg w-f reveal fade-right">
                <h1 class="font-serif font-big font-native">"</h1>
                <p class="font-serif ">The UK jewellery is an event we always<br> look forward to and we are so honoured to be<br>recognised.</p>

                    <div>
                    <h1 class="font-pop font-low">Jane cooper</h1>
                    <p class="font-pop font-low font-fade">Naperville, USA</p>
                    </div>
                    <div class="center-flex">
                        <div class="box"></div>
                        <div class="box bg-norm"></div>
                        <div class="box"></div>
                    </div>
            </div>
            <div class="cover center-flex">
            <div class="body-round1 reveal img-fade">
                <img src="../../assets/images/img7.png" class="imgs3" alt="">
            </div>
            </div>
            </div>
        </div>
    </div>
    <div class="flex-around body-mg reveal fade-left">
        <img src="../../assets/images/logo1.png" alt="" class="imgs">
        <img src="../../assets/images/logo2.png" alt="" class="imgs">
        <img src="../../assets/images/logo3.png" alt="" class="imgs">
        <img src="../../assets/images/logo4.png" alt="" class="imgs">
    </div>
    <div class="flex-around body-mg reveal fade-right">
        <div class="body-box"><img src="../../assets/images/img4.png" alt="" class="imgs"></div>
        <div class="body-box"><img src="../../assets/images/img6.png" alt="" class="imgs"></div>
        <div class="body-box"><img src="../../assets/images/img4.png" alt="" class="imgs"></div>
        <div class="body-box"><img src="../../assets/images/img5.png" alt="" class="imgs"></div>
    </div>
    <div class="body-mg body-dark mg-tp font-white">
        <div class="flex-around reveal fade-bottom">
        <div>
            <p class="font-pop font-mid">Glow <span class="font-native">.</span></p>
            <p class="font-pop font-low">Keep up with our new releases,<br> Beauty tips and what Emma's been<br> Up to.</p>
            <div class="flex-n">
            <img src="../../assets/images/fb.png" class="socials mg-r" alt="">
            <img src="../../assets/images/ig.png" class="socials mg-r" alt="">
            <img src="../../assets/images/in.png" class="socials mg-r" alt="">
            <img src="../../assets/images/tw.jpg" class="socials" alt="">
            </div>
        </div>

        <div>
            <h1 class="font-pop font-low">Company</h1>
            <p class="font-pop font-low">About</p>
            <p class="font-pop font-low">Jobs</p>
            <p class="font-pop font-low">Branding</p>
            <p class="font-pop font-low">Newsroom</p>
        </div>

        <div>
            <h1 class="font-pop font-low">Resources</h1>
            <p class="font-pop font-low">College</p>
            <p class="font-pop font-low">Suppport</p>
            <p class="font-pop font-low">Safety</p>
            <p class="font-pop font-low">Streamkit</p>
        </div>

        <div>
            <h1 class="font-pop font-low">Terms & Condition</h1>
            <p class="font-pop font-low">Policy</p>
            <p class="font-pop font-low">Faq</p>
            <p class="font-pop font-low">Return & delivery</p>
            <p class="font-pop font-low">Tracking</p>
        </div>

        <div>
            <h1 class="font-pop font-low">Subscribe</h1>
            <p class="font-pop font-low">Get 10% off your first order</p>
            <input type="text" class="s-input" placeholder="Enter your mail">
        </div>
        </div>
        <div class="pad">
        <div class="center-flex">
            <div class="line2"></div>
        </div>
        <div class="pad2">
            <p class="font-pop font-low font-fade align-center">Copyright &copy; 2022 Musemind | All rights reserved</p>
        </div>              
    </div>
    </div>
</div>